
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#card{
    width: 600px;
    height: 700px;
}
#pencil{
    font-size: 30px;
}
#book{
    font-size: 30px;
}
#button-addon2{
    background-color: rgba(236, 81, 9, 0.842);
    color: white;
}
#clearAll{
    width: 150px;
    height: 35px;
}